In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Advertising.csv")
df.head()

       TV  radio  newspaper  sales
0  230100  37800      69200  22100
1   44500  39300      45100  10400
2   17200  45900      69300   9300
3  151500  41300      58500  18500
4  180800  10800      58400  12900

In [3]:
#EDA

In [4]:
df.describe()

                  TV         radio      newspaper         sales
count     200.000000    200.000000     200.000000    200.000000
mean   147042.500000  23264.000000   30554.000000  14022.500000
std     85854.236315  14846.809176   21778.620839   5217.456566
min       700.000000      0.000000     300.000000   1600.000000
25%     74375.000000   9975.000000   12750.000000  10375.000000
50%    149750.000000  22900.000000   25750.000000  12900.000000
75%    218825.000000  36525.000000   45100.000000  17400.000000
max    296400.000000  49600.000000  114000.000000  27000.000000

In [5]:
df.corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000

In [6]:
X=df[['TV','radio','newspaper']]
y=df['sales']

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=42)

In [8]:
#step-4,5 - Modelling & evaluation

In [9]:
#lasso regression (default paramaters)

In [13]:
#modelling
from sklearn.linear_model import Ridge
ridge_model=Ridge()     
ridge_model.fit(X_train,y_train)

train_predictions=ridge_model.predict(X_train)
test_predictions=ridge_model.predict(X_test)

from sklearn.metrics import mean_squared_error
train_rmse=np.sqrt(mean_squared_error(y_train,train_predictions))
test_rmse=np.sqrt(mean_squared_error(y_test,test_predictions))

print("train RMSE:", train_rmse)
print("test RMSE:", test_rmse)

train RMSE: 1574.5968305905444
test RMSE: 1948.5372043175973

In [14]:
#applying Hyperparameter tuning for ridge regression

In [15]:
from sklearn.model_selection import GridSearchCV

estimator=Ridge()

param_grid={"alpha":list(range(1,11))}

model_hp=GridSearchCV(estimator,param_grid,cv=5)
model_hp.fit(X_train,y_train)
model_hp.best_params_

{'alpha': 10}

In [16]:
#rebuid

In [21]:
from sklearn.linear_model import Ridge
ridge_model=Ridge(alpha=10)     
ridge_model.fit(X_train,y_train) 

print("intercept:",ridge_model.intercept_)
print("coefficient:",ridge_model.coef_)

train_predictions=ridge_model.predict(X_train)
test_predictions=ridge_model.predict(X_test)

from sklearn.metrics import mean_squared_error
train_rmse=np.sqrt(mean_squared_error(y_train,train_predictions))
test_rmse=np.sqrt(mean_squared_error(y_test,test_predictions))

print("train RMSE:", train_rmse)
print("test RMSE:", test_rmse)

from sklearn.model_selection import cross_val_score
print("Cross validation score:",cross_val_score(ridge_model,X,y,cv=5).mean())

intercept: 2708.9490937257196
coefficient: [0.04405928 0.1992875  0.00688245]
train RMSE: 1574.5968305905444
test RMSE: 1948.5372040742338
Cross validation score: 0.8871063495481282